{% extends "base.html.twig" %}

{% block body %}
    <h1>Fiche Perso</h1>
    <div class="idfile">
            <h2>{{snowflake.name}}</h2>
            <p>Favorite number: {{snowflake.favNumber}}</p>
            <p>Description: {{snowflake.description}} </p>
            <p>date: {{snowflake.createdAt|date('j M')}}</p>
    </div>
{% endblock %}