ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  footer
  {
    height: 3em;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-color: #333;
  }
  footer>p
  {
    color: white;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
  }
#randomnumb 
{
  font-size: 5em;
  width: 100%;
  text-align: center;
}