<nav>
    <ul>
        <li><a href="{{path("app_random_index")}}">Home</a></li>
        <li><a href="{{path("app_random_random")}}">Random</a></li>
        <li><a href="{{path("app_random_id")}}">Id Ninja</a></li>
    </ul>
</nav>